.job-card {
  width: 550px;
  max-height: 250px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-card {
  border: 3px solid black;
}

.job-card .card-header {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.job-card .card-text {
  font-size: 14px;
  margin-bottom: 0;
}

.job-card .card-text .position {
  font-size: 15.4px; /* 10% increase from the original size */
  color: #bb44e4;
}

.job-card .card-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heart-icon,
.share-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s; /* 변경된 부분: 변환 효과에 대한 전환 설정 */
}

.heart-icon:hover,
.share-icon:hover {
  transform: scale(1.2); /* 변경된 부분: 마우스 호버 시 크기를 확대 */
}

.apply-button {
  margin-left: auto;
}

.inner-company {
  font-size: 18px;
  font-weight: bold;
}