.recruit-container {
  width: 100%;
  height: 90vh;
  display: flex;
}

.sidebar-container {
  flex-basis: 420px; 
  padding-left: 80px;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.grid-container {
  flex-grow: 1;
  display: grid;
  margin-top: 20px;
  gap: 10px; /* 원하는 간격으로 설정해주세요 */
  margin-right: 40px;   
  grid-auto-rows: 1fr;
}

.pagination span a.active {
  font-weight: bold;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.pagination button {
  margin-right: 10px;
  margin-left: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-right: 60px;
}

.search-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px;
}

.search-container button {
  position: flex;
  width: 89px;
  height: 36px;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #ffffff;
}

.pagination-link {
  display: inline-block;
  width: 2em;
  text-align: center;
  text-decoration: none;
  /* 밑줄 제거 */
}
