.recruit-stack-img {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
}

.stack-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.stack-count {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff; /* 원하는 배경색으로 변경 가능 */
  color: #000; /* 원하는 글자색으로 변경 가능 */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* 원하는 글자 크기로 변경 가능 */
  top: 5px;
  right: 5px;
}
