

.pass_number {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }
  
  .pass_number::-webkit-outer-spin-button,
  .pass_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }