.sidebar {
  box-sizing: border-box;
  position: flex;
  width: 259px;
  height: 500px;
  background: rgba(187, 68, 228, 0.16);
  border: 1px solid #BB44E4;
  border-radius: 19px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(187, 68, 228, 0.5); /* 배경보다 조금 진한 색상 */
  margin-top: 20px;
}

.position-checkbox {
  padding-left: 30px;
}
