.stack-box {
  position: relative;
  width: auto;
  height: 36px;
  display: inline-flex; /* 'display' 속성을 'inline-flex'로 변경 */
  align-items: center;
  padding: 0 10px;
  background: #FFFFFF;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left : 10px;
  margin-top : 10px;
}

.stack-box:hover {
  background-color: #f0f0f0;
}

.stack-img {
  width: 26.35px;
  height: 26.02px;
  border-radius: 15px;
}

.stack-title {
  margin-left: 10px;
  font-family: 'JejuGothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}
