.custom-container {
  width: 700px;
  height: 400px;
  border-radius: 20px;
  border: 1px solid #bb44e4;
  background-color: #BB44E429; /* 수정: 밝은 배경색으로 변경 */
  position: relative;
  margin-left: 100px;
}

.custom-content {
  margin-top: 20px; /* Adjust the top margin as needed */
  padding: 20px; /* Add padding to create space around the content */
}

.custom-title {
  color: #fff;
}
  